:root {
  --primary-color: #58641D;
  --background-color: #333;
  --primary-text-color: #f0f0f0;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  accent-color: var(--primary-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f0f0f0;
  }
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

header {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  a {
    color: var(--primary-text-color);
  }

  h1 {
    margin: 0;
  }

  .logout {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      border-radius: 50%;
      border: 1px solid hsl(from var(--primary-text-color) h s calc(l * 0.5));
      max-height: 3rem;
      max-width: 3rem;
    }
  }
}


.player {
  background-color: var(--background-color);
  border-radius: 0.25rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: "album info" "album progress";
  grid-template-columns: clamp(50px, 25%, 200px) 1fr;
  grid-template-rows: 1fr max-content;
  padding: 1rem;
  position: relative;
}

.player__device {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid var(--primary-text-color);
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.player__cover {
  grid-area: album;
}

.player__cover img {
  width: 100%;
  height: 100%;
}

.player__info {
  grid-area: info;
}

.player__progress {
  grid-area: progress;

  progress {
    width: 100%;
  }
}

.player__artist {
  span:not(:first-child)::before {
    content: ", ";
  }
}

.login {
  box-sizing: border-box;
  display: flex;
  padding: 2rem;
  place-content: center;
  width: 100%;
}

.queue {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;

  .queue__item {
    display: grid;
    gap: 1rem;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "album info";
    border-radius: 0.25rem;
    background-color: var(--background-color);
    padding: 0.5rem;
  }

  .queue__item__cover {
    grid-area: album;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .queue__item__info {
    grid-area: info;

    .queue__item__artist {
      span:not(:first-child)::before {
        content: ", ";
      }

    }
  }
}



a {
  color: var(--primary-color);
}

button,
btn {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  border: 0 transparent none;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.07em;
  outline-color: var(--primary-text-color);
  padding: 0.5rem 1rem;
}
