<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{block "head" .}}<title>Go Shufflify</title>{{end}}

  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/htmx.org@2.0.1"></script>
  <script src="/js/idiomorph-ext.min.js"></script>
</head>

<body hx-ext="morph">
  <noscript>You need to enable JavaScript to run this app.</noscript>

  {{block "header" .}}
  <header>
    <h1>Go Shufflify</h1>
    {{block "logout" .}}{{end}}
  </header>
  {{end}}
  {{block "body" .}}<main>No template found</main>{{end}}
</body>

</html>
