{{define "player"}}
<div class="player">
  <div class="player__device">
    {{.Device.Name}}
  </div>

  <div class="player__cover">
    <div>
      {{with index .Item.Album.Images 0}}
      <img src={{.Url}} height={{.Height}} width={{.Height}} />
      {{end}}
    </div>
  </div>

  <div class="player__info">
    <div class="player__title">{{.Item.Name}}</div>
    <div class="player__album">{{.Item.Album.Name}}</div>
    <div class="player__artist">{{range .Item.Artists}}<span>{{.Name}}</span>{{end}}</div>
  </div>

  <div class="player__progress">
    <progress value={{.ProgressMs}} max={{.Item.DurationMs}}></progress>
  </div>
</div>
{{end}}
